@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .stat-container {
    @apply px-5 py-[10] rounded-lg flex items-center gap-3  lg:flex-grow;
  }
  .fa-icon {
    @apply border border-blue-1 rounded-full p-4 w-8 h-8 flex justify-center items-center bg-[#2b64cf1b];
  }
  .col2 {
    @apply flex flex-col;
  }

  .over {
    @apply md:w-[45%] flex gap-3 flex-grow justify-between;
  }

  .lin-grad {
    @apply bg-gradient-to-tr from-blue-1 to-blue-4;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #eef0f5;
}

a {
  text-decoration: none;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
}
